@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?nwfkj');
    src: url('fonts/icomoon.eot?nwfkj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nwfkj') format('truetype'),
    url('fonts/icomoon.woff?nwfkj') format('woff'),
    url('fonts/icomoon.svg?nwfkj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="fi-"], [class*=" fi-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: .2rem;
    vertical-align: middle;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fi-sort:before {
    content: "\e92f";
}
.fi-doubt:before {
    content: "\e930";
}

.fi-upload-files:before {
    content: "\e92c";
}
.fi-add-to:before {
    content: "\e92d";
}
.fi-left-page-turn:before {
    content: "\e92e";
}

.fi-department:before {
    content: "\e92b";
}

.fi-more:before {
    content: "\e92a";

}

.fi-read:before {
    content: "\e929";

}

.fi-overview:before {
    content: "\e91e";
}

.fi-self-built-application:before {
    content: "\e91f";
}

.fi-state:before {
    content: "\e920";
}

.fi-account-type:before {
    content: "\e921";
}

.fi-search:before {
    content: "\e922";
}

.fi-calendar:before {
    content: "\e923";
}

.fi-summary:before {
    content: "\e924";
}

.fi-close .path1:before {
    content: "\e925";
}

.fi-close .path2:before {
    content: "\e926";
}

.fi-payment-type:before {
    content: "\e927";
}

.fi-return:before {
    content: "\e928";
}

.fi-correct:before {
    content: "\e916";

}

.fi-error:before {
    content: "\e917";

}

.fi-cell-phone-number:before {
    content: "\e918";

}

.fi-enterprise-code:before {
    content: "\e919";

}

.fi-password:before {
    content: "\e91a";

}

.fi-user-name:before {
    content: "\e91b";

}

.fi-left-arrow:before {
    content: "\e91c";

}

.fi-right-arrow:before {
    content: "\e91d";

}

.fi-basic-data:before {
    content: "\e900";

}

.fi-browsing-amount:before {
    content: "\e901";

}

.fi-consulting-qq:before {
    content: "\e902";

}

.fi-consulting-telephone:before {
    content: "\e903";

}

.fi-contact-us:before {
    content: "\e904";

}

.fi-create-replica:before {
    content: "\e905";

}

.fi-daily-application:before {
    content: "\e906";

}

.fi-delete:before {
    content: "\e907";

}

.fi-dropdown-arrow:before {
    content: "\e908";

}

.fi-edit:before {
    content: "\e909";

}

.fi-focus-on-wechat:before {
    content: "\e90a";

}

.fi-modify-password:before {
    content: "\e90b";

}

.fi-my-job:before {
    content: "\e90c";

}

.fi-news:before {
    content: "\e90d";

}

.fi-qr-code:before {
    content: "\e90e";

}

.fi-recommended-template:before {
    content: "\e90f";

}

.fi-safe-exit:before {
    content: "\e910";

}

.fi-select-enterprise:before {
    content: "\e911";

}

.fi-send-out:before {
    content: "\e912";

}

.fi-set-up:before {
    content: "\e913";

}

.fi-switching-enterprise:before {
    content: "\e914";

}

.fi-the-number-of-pages:before {
    content: "\e915";

}
.fi-circle:before{
    content: '●';
}
